<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">itDelightCommunicationApplication</label>
    <label lang="en">itDelightCommunicationApplication</label>
    <version>1.0.0</version>
    <link></link>
    <author>itDelight</author>
    <description></description>
</plugin>
